@page "/"

<PageTitle>Index</PageTitle>

<div class="m-4">
<ErrorBoundary>
    <ChildContent>
        <ErrorComponent />
    </ChildContent>
    <ErrorContent>
        <div class="border p-4 text-danger">
            Sorry about that, something seems to have gone awry.
        </div>
    </ErrorContent>
</ErrorBoundary>
</div>
