@page "/traffic-lights"

<div class="mt-2" style="display:flex;justify-content:space-around">
    <TrafficLight />
    <TrafficLight />
    <TrafficLight />
    <TrafficLight />
    <TrafficLight />
    <TrafficLight />
</div>

<div class="mt-5" style="display:flex;justify-content:space-around">
    <TrafficLight />
    <TrafficLight />
    <TrafficLight />
    <TrafficLight />
    <TrafficLight />
    <TrafficLight />
</div>

